[submodule "Submodules/MRMongoTools"]
	path = Submodules/MRMongoTools
	url = https://github.com/laboratory-rat/MRMongoTools
[submodule "Submodules/MRMigrationMaster"]
	path = Submodules/MRMigrationMaster
	url = https://github.com/laboratory-rat/MRMigrationMaster
[submodule "submodules/IdentityConnector"]
	path = submodules/IdentityConnector
	url = https://github.com/laboratory-rat/MRIdentityClient.git
